@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'winter';
  default: true;
  prefersdark: true;
  color-scheme: 'light';
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(41.886% 0.053 255.824);
  --color-primary: #006d77;
  --color-primary-content: oklch(98% 0.014 180.72);
  --color-secondary: #edf6f9;
  --color-secondary-content: oklch(12% 0.042 264.695);
  --color-accent: #83c5be;
  --color-accent-content: oklch(12% 0.042 264.695);
  --color-neutral: oklch(12% 0.042 264.695);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(17.625% 0.017 214.515);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(16.098% 0.015 197.823);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(17.834% 0.009 71.47);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(14.618% 0.022 20.076);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

* {
  font-family: 'Lato', sans-serif;
}

@layer {
  .container {
    @apply my-2 p-2;
  }
  .section {
    @apply my-2 p-2;
  }
  .h1 {
    @apply font-bold text-3xl;
  }
  .h3 {
    @apply font-semibold text-xl;
  }
  .card {
    @apply p-4 rounded-xl shadow-md hover:shadow-lg transition-all duration-300 ease-in-out transform hover:scale-102;
  }
  .btn-1 {
    @apply font-semibold rounded-xl;
  }
}

@keyframes gradientAnimation {
  0% {
    background: linear-gradient(
      135deg,
      oklch(96% 0.03 250),
      oklch(94% 0.04 320)
    );
  }
  50% {
    background: linear-gradient(
      135deg,
      oklch(96% 0.03 100),
      oklch(94% 0.04 400)
    );
  }
  100% {
    background: linear-gradient(
      135deg,
      oklch(96% 0.03 250),
      oklch(94% 0.04 320)
    );
  }
}

@layer components {
  .primary-btn {
    @apply bg-primary text-primary-content font-semibold py-3 px-6 rounded-xl shadow-[0_8px_14px_-7px_#83c5be] hover:!scale-105 duration-300;
  }
  .secondary-btn {
    @apply bg-secondary text-secondary-content font-semibold py-3 px-6 rounded-xl shadow-[0_8px_14px_-7px_#83c5be] hover:!scale-105 duration-300;
  }
  .active {
    @apply text-accent shadow-[0_3px_0_-1px_#83c5be];
  }
}
